@model HospitalApplication.Models.Location
@{
    ViewBag.Title = "Details";
}

<h2>Show Location</h2>


<a href="/Location/List">Go back to list</a>
<div>Name: @Model.LocationName</div>
<div>Address: @Model.LocationAddress</div>
<div>Contact Number: @Model.LocationContactNo</div>